body{
    background-color:aquamarine;
}

.skip a{
    position: absolute;
    top: -30px;
    text-align: center;
    width:100%;
  }
  
  .skip a:focus{
    position: absolute;
    text-align: center;
    top: 30px;
    width:100%;
  }